<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h1><%= @category.name %></h1>
    <p><%= @category.description %></p>
    <% if @category.image.attached? %>
      <%= image_tag @category.image.variant(resize_to_limit: [1400, 400], format: :jpg, saver: { subsample_mode: "on", strip: true, interlace: true, quality: 80 }) %>
    <% end %>
  </div>
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
      <%= render partial: "product", collection: @products %>
    </div>
  </div>
  <%= paginate @products %>
</section>