<!-- Topbar Start -->
<div class="container-fluid bg-dark p-0">
  <div class="row gx-0 d-none d-lg-flex">
    <div class="col-lg-7 px-5 text-start">
      <div class="h-100 d-inline-flex align-items-center me-4">
        <small class="fa fa-map-marker-alt text-primary me-2"></small>
        <small class="text-white"><%= Rails.application.config.address %></small>
      </div>
      <div class="h-100 d-inline-flex align-items-center">
        <small class="far fa-clock text-primary me-2"></small>
        <small class="text-white"><%= Rails.application.config.working_hours %></small>
      </div>
    </div>
    <div class="col-lg-5 px-5 text-end">
      <div class="h-100 d-inline-flex align-items-center me-4">
        <small class="fa fa-phone-alt text-primary me-2"></small>
        <small class="text-white"><%= Rails.application.config.telephone %></small>
      </div>
      <div class="h-100 d-inline-flex align-items-center mx-n2">
        <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-twitter"></i></a>
        <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-square btn-link rounded-0" href=""><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <div class="navbar-logo"><%= image_tag 'logo.png', alt: 'icon', class: "logo-img" %></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <%= link_to "All Products", categories_path, class: "dropdown-item" %>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <% tree_data[0][:children].each do |category| %>
                <%= link_to category[:name], categories_path+"/"+category[:url_key]+".html", class: "dropdown-item" %>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <div class="d-flex flex-row-reverse">
      <div class="authenticate-navbar d-flex">
        <div class="mx-2">
          <button class="btn btn-outline-dark cart-btn" type="submit">
            <i class="bi-cart-fill me-1"></i>
            Cart
            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
          </button>
        </div>
        <% if current_user %>
          <li><h4><b><%= "#{current_user.first_name} #{current_user.last_name}" %></b></h4></li>
          <div class="authenticate-navbar-buttons">
            <button class="btn btn-dark btn-authenticate-navbar"><%= link_to "Profile", user_path(current_user.id) %></button>
            <button class="btn btn-dark btn-authenticate-navbar"><%= link_to "Logout", logout_path, method: :delete %></button>
          </div>
        <% else %>
          <div class="authenticate-navbar-buttons">
            <button class="btn btn-dark btn-authenticate-navbar"><%= link_to "Sign Up", signup_path %></button>
            <button class="btn btn-dark btn-authenticate-navbar"><%= link_to "Log In", login_path %></button>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</nav>
